{% extends 'hotel/base.html' %}
{% block body%}
<div class="container">
    <h1 style="text-align: center; text-decoration: underline;">About us</h1>
    <img src="https://images.unsplash.com/photo-1589898489389-d8bf5ee44fee?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=500&ixid=eyJhcHBfaWQiOjF9&ixlib=rb-1.2.1&q=80&w=1100">
    <p style="font-size: 20px;">HBMS is North Asia’s largest hospitality focussed enterprise with true Indian origins.
        Backed by a 115-year plus legacy across consumers and businesses, it was originally incorporated by the founder
        of the Tata Group, Jamsetji Tata, in 1902. The company opened its first hotel, The Taj Mahal Palace, in Bombay
        (now Mumbai) in 1903. Perhaps the grandest and most recognized of Jamsetji Tata’s tributes to his beloved city
        remains to be the hallmark of Indian hospitality, even today.Through long-term stakeholder value creation based
        on ‘Leadership with Trust', the Tata brand stands as a lasting promise behind its businesses, many of which are
        industry leaders. HBMS is honoured to be one of the first of those timeless and tireless initiatives.
        HBMS is reimagining itself by leveraging its strong brand equity to multiply its portfolio while aligning to
        high-growth segments. This includes manoeuvering excellence and reinvigorating the portfolio across all brands.
    </p>
    <p style="font-size: 20px;">
        Our pivotal programme, Aspiration 2022, is based on the three-pronged strategy of re-structuring, re-engineering and re-imagining the Company’s portfolio. The strategy is aimed at margin enhancement and growth to fulfil our aspiration of becoming the most iconic and profitable hospitality company in South Asia. Therefore, it will focus on exploring new markets, expanding existing properties, monetising non-core assets, optimising costs and simplifying the group structure to grow the bottom line. The five-year programme will also include leveraging the digital channel to strengthen the brand and generate more revenue.
    </p>
</div>
{% endblock body%}